.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 30px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(121,121,121,0.3);
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav__link {
    position: relative;
    color: #2e363e;
}

.nav__notification {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.dot_top {
    background-color: tomato;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    left: 70px;
    bottom: 20px;
}

.dot_right {
    left: 120px;
}

.dot_bottom {
    background-color: tomato;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    left: 30px;
    bottom: 30px;
}